# Ignorar arquivos executáveis
*.exe
*.out

# Arquivos objeto
*.o
*.obj

# Arquivos temporários
*.tmp
*.temp

# Arquivos de backup
*.bak

# Pastas de build
build/
bin/

# Arquivos do sistema Windows
Thumbs.db
desktop.ini

# Arquivos de IDE (Dev-C++)
*.dev
*.layout

# Logs
*.log
